<div class="users-mypage">
  <%= render "partial/apps_sidemenubar"%>

  <article class="todo-wrapper wrapper-style">
    <% @todo.each do |todo| %>
      <div class="todo-innner">
        <%= image_tag todo.image.url, class: "todos-thumbnail" %>
        <h2 class="todos_title"><%= todo.title %></h2>
        <div class="todos_content"><%= todo.content %></div>
      </div>
    <% end %>
  </article>

  <article class="connection-column-wrapper wrapper-style">
    <h2 class="heading__connection-column">最近の日記</h2>
    <div class="column__inner">
      <div class="connection-columns__container">
        <ul class="connection-column-list">
          <% @diaries.each do |diary| %>
            <div class="column-wrapper">
              <li class="column-list">
                <%= link_to apps_diary_path(diary), class: "column__link" do %>
                  <div class="column__thumbnail"><%= image_tag diary.image.url, class: "column__thumbnail-image" %></div>
                  <div class="column__body">
                    <div class="column__title"><%= diary.title %></div>
                  </div>
                <% end %>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </article>
</div>