<div class="users-mypage">
  <%# サイドメニューバーを表示 %>
  <%= render "partial/apps_sidemenubar"%>

  <%# 選んだ最新todoを表示 %>
  <article class="todo-wrapper wrapper-style">
      <% if @selected_todo %>
      <div class="todo-innner">
        <%= image_tag @selected_todo.image.url, class: "todos-thumbnail" %>
        <div class="todo-conteiner">
          <h2 class="todos_title"><%= @selected_todo.title %></h2>
          <div class="todos_content"><%= @selected_todo.content %></div>
        </div>
        <%= form_with url: "/apps/user_todos/#{@selected_todo.id}", method: :patch, local: true do |f| %>
          <%= f.select :status, UserTodo.statuses.keys %>
          <%= f.submit "変更" %>
        <% end %>
      </div>
    


      <% else %>
      <div>
        <%= link_to "Todoを選ぶ", apps_user_todos_path,  class: "list-part" %>
      </div>
      <% end %>

  </article>

  <%# 直近１週間のdiaryを表示 %>
  <article class="connection-column-wrapper wrapper-style">
    <h2 class="heading__connection-column">最近の日記</h2>
    <div class="column__inner">
      <div class="connection-columns__container">
        <ul class="connection-column-list">
          <% @diaries.each do |diary| %>
            <div class="column-wrapper">
              <li class="column-list">
                <%= link_to apps_diary_path(diary), class: "column__link" do %>
                  <div class="column__thumbnail"><%= image_tag diary.image.url, class: "column__thumbnail-image" %></div>
                  <div class="column__body">
                    <div class="column__title"><%= diary.title %></div>
                  </div>
                <% end %>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </article>
</div>