<div class="category-search-wrapper2">
  <h1 class="category-title"><%= "#{@category.name}" %></h1>
  <div class="category-posts">
    <ul class="search-post-list post-list-portrate posts">
      <% @columns.each do |column| %>
        <div class="search-posts-wrapper">
          <li class="search-post">
            <%= link_to apps_path(column), class: "search-post__inner" do %>
              <div class="search-inner">
                <div class="search-post__thumbnail lazyloaded"><%= image_tag column.image.url, class: "search-img" %></div>
                <div class="search-post__body">
                  <div class="post__content title-part"><h3><%= column.title %></h3></div>
                  <div class="post__content content-part"><%= strip_tags(column.content.to_s).truncate(120) %></div>
                </div>
              </div>
            <% end %>
          </li>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>

  