<article class="admin-column-table">
  <div class="column-table-inner">
    <h2 class="table-title">List of Todos</h2>
    <div class="table-container">
      <table class="table table-striped table-hover">
          <thead>
            <tr class="table-column">
              <th scope="col" class="val">id</th>
              <th scope="col" class="val">user_name</th>
              <th scope="col" class="val">status</th>
              <th scope="col" class="val">category</th>
              <th scope="col" class="val">title</th>
              <th scope="col" class="val">thumbnail_image</th>
              <th scope="col" class="val"></th>
            </tr>
          </thead>
          <tbody>
            <% @todos.each do |todo| %>
              <tr>
                <th scope="row" class="val val2"><%= todo.id %></th>
                <td class="val"><%= todo.admin_user.name %></td>
                <td class="val"><%= todo.status %></td>
                <td class="val"><%= todo.category.name %></td>
                <td class="val"><%= todo.title %></td>
                <td class="val"><%= image_tag todo.image.url, size: "90x60" %></td>
                <td class="val">
                  <%= link_to "edit", edit_admin_todo_path(todo), class: "column-table-btn"%><br>
                  <%= link_to "delete", admin_todo_path(todo), method: :delete, class: "column-table-btn"%></td>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
  <%= paginate @todos %>
</article>


