<div class="main">
  <div class="diary-wrapper">
    <div class="left-conteiner">
      <div class="left-contents">
        <div class="diary-image"><%= image_tag @diary.get_image_url, class: "image" %></div>
      </div>
    </div>
    <div class="right-conteiner">
      <div class="right-contents">
        <div class="tittle-conteiner">
          <div class="diary-title pa-rl"><%= @diary.get_title %></div>
          <div class="link-parts">
            <%= link_to "•••", edit_apps_diary_path(@diary), class: "btn" %>
          </div>
        </div>
        <div class="diary-caption  pa-rl"><%= @diary.caption %></div>
        <div class="diary-date pa-rl"><%= @diary.date%></div>
      </div>
    </div>
  </div>
</div>
