<div class="container">
  <div class="content">
    <div class="content-inner-left">
      <div class="content-left">
        <div class="form-group">
          <%= f.label "日記の日付", class: "form_label" %><br>
          <%= f.date_field :date, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "タイトル", class: "form_label"  %>
          <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
        </div>

        <div class="form-group image_huga">
          <%= f.label "思い出の写真", class: "form_label"  %>
          <%= f.file_field :image, class: "image_area", style:"display:none;" %>
          <div class="image-feild">
              <div class="target">
                <%= image_tag @diary.edit_image_url, class: "defalt_image" %>
              </div>
          </div>
        </div>
      </div>
      </div>
      <div class="content-inner-right">
        <div class="content-right">
          <div class="form-group">
            <%= f.label "日記の内容", class: "form_label"  %>
            <%= f.rich_text_area :caption %>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="form-group btn-area">
      <%= f.submit "投稿する", class: "btn" %>
    </div>
  </div>
</div>