<div class="main">
  <div class="diary-wrapper">
    <div class="top-conteiner">
      <div class="top-contents">
        <div class="diary-title pa-rl"><%= @diary.get_title %></div>
        <div class="link-parts">
          <%= link_to "編集", edit_apps_diary_path(@diary) %>
        </div>
      </div>
    </div>
    <div class="bottom-conteiner">
      <div class="bottom-contents">
        <div class="diary-image"><%= image_tag @diary.get_image_url, class: "image" %></div>
        <div class="diary-caption  pa-rl"><%= @diary.caption %></div>
        <div class="diary-date pa-rl"><%= @diary.date%></div>
      </div>
    </div>
  </div>
</div>