<article>
  <h1>無料会員登録</h1>

  <div class="content">
    <div class="content-inner">
      <div class="simple-content">
        <%= form_with model: @user do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, placeholder: "Username", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, placeholder: "email", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, placeholder: "password", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, laceholder: "password_confirmation", class: "form-control" %>
            </div>
            <%= f.submit "新規登録", class: "btn btn-locari btn-block btn-with-margin" %>
        <% end %>
      </div>
    </div>
  </div>
</article>