  <div id="page-wrapper" ng-class="{'open': toggle}", class="open">

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main"><a ng-click="toggleSidebar()">Dashboard<span class="menu-icon glyphicon glyphicon-transfer"></span></a></li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list"><%= link_to "Dashboard", admin_root_path, class: "sidebar-button admin_choice" %></li>
        <li class="sidebar-list"><%= link_to "コラムを書く", new_admin_column_path, class: "sidebar-button admin_choice2" %></li>
        <li class="sidebar-list"><%= link_to "コラム一覧", admin_columns_path, class: "sidebar-button admin_choice3" %></li>
        <li class="sidebar-list"><%= link_to "ToDoを作成", new_admin_todo_path, class: "sidebar-button admin_choice4" %></li>
        <li class="sidebar-list"><%= link_to "ToDo一覧", admin_todos_path, class: "sidebar-button admin_choice5" %></li>
      </ul>
    </div>


    <div id="content-wrapper">
      <div class="page-content">
        <div class="row header">
          <div class="col-xs-12">
            <nav class="admin-header-outer">
              <ul class="list-unstyled header-nav-text-list">
                <% if current_admin_user %>
                  <li class="admin-button-container"><%= link_to "@#{current_admin_user.name}", class: "admin-button"%></li>
                  <li class="admin-button-container"><%= link_to "ログアウト", admin_logout_path, method: :delete, class: "admin-button"%></li>
                <% else %>
                  <li class="admin-button-container"><%= link_to "ログイン", admin_login_path, class: "admin-button"%></li>
                  <li class="admin-button-container"><%= link_to "管理者登録", new_admin_user_path, class: "admin-button"%></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>