<div class="header">
  <div class="header-inner">

    <%= link_to "管理画面", "", class: "header-logo-link"%>

    <nav class="header-right-outer">
      <ul class="list-unstyled header-nav-text-list">
        <% if current_admin_user %>
          <li class="button-container"><%= link_to "コラムを書く", "#", class: "button"%></li>
          <li class="button-container"><%= link_to "Todoを作成する", "#", class: "button"%></li>
          <li class="button-container"><%= link_to "ログアウト", admin_logout_path, method: :delete, class: "button"%></li>
        <% else %>
          <li class="button-container"><%= link_to "ログイン", admin_login_path, class: "button"%></li>
          <li class="button-container"><%= link_to "管理者登録", new_admin_user_path, class: "button"%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>