<div class="header">
  <div class="header-inner">
    <div class="header-left-outer">
      <div class="header-search"></div>
    </div>
    <h1 class="header-logo-link-outer">
      <%= link_to "", root_path, class: "header-logo-link"%>
        <%# <%= image_pack_tag 'media/images/navbar/me_diary_logo.png' %>
      <div class="header-logo">ジブン日記</div>
    </h1>
      <nav class="header-right-out.jpner">
        <ul class="list-unstyled header-nav-text-list">
          <% if current_user %>
            <li class="button-container"><%= link_to "ログアウト", logout_path, method: :delete, class: "button"%></li>
          <% else %>
            <li class="button-container"><%= link_to "ログイン", login_path, class: "button"%></li>
            <li class="button-container"><%= link_to "無料会員登録", new_user_path, class: "button"%></li>
          <% end %>
        </ul>
      </nav>
  </div>
</div>