<div class="container">
  <div class="content">
    <%= form_with model: @column, url: admin_columns_path, local: true do |f| %>
      <div class="form-group">
        <%= f.label "タイトル", class: "form_label" %>
        <%= f.text_field :title, class: "form-control", placeholder: "タイトル", value:"" %>
      </div>
      <div class="field">
        <%= f.label :content %>
        <%= f.rich_text_area :content %>
      </div>
      <div class="form-group">
        <%= f.label "サムネイル画像" %><br>
        <%= f.file_field :image %>
      </div>
       <div class="form-group btn-area">
         <%= f.submit "投稿", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>