<div class="maincolumn">
  <div class="main_inner">
    <div class="breadcrumbs-container">
      <ul class="breadcrumbs" itemscope="itemscope", itemtype=""></ul>
    </div>
    <div class="content-header">
      <div class="post-header-container">
        <div class="post-image"><%= image_tag  @column.image.url, class: "img" %></div>
        <div class="post-desc-wrapper">
          <h2 class="title"><%= @column.title %></h2>
          <%= link_to class: "writter" do%>
            <i class="fas fa-pen-nib"></i>
            <%= @column.admin_user.name %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="content_body">
      <%= @column.content %><br>
    </div>
  </div>
</div>