<div class="admin_maincolumn">
  <div class="main_inner">
    <div class="breadcrumbs-container">
      <ul class="breadcrumbs" itemscope="itemscope", itemtype=""></ul>
    </div>
    <div class="content-header">
      <div class="post-header-container">
        <div class="post-image"><%= image_tag  @column.image.url, class: "img" %></div>
        <div class="post-desc-wrapper">
          <h2 class="title"><%= @column.title %></h2>
          <%= @column.created_at.strftime('%Y/%m') %>
          <%= @column.category.name %>
          <div><i class="fas fa-pen-nib"></i><%= @column.admin_user.name %></div>
        </div>
      </div>
    </div>
    <div class="content_body">
      <%= @column.content %><br>
    </div>
  </div>
</div>