<div class="dashboard">
  <div class="creation_frequency_graph">
    <div class="creation_frequency_graph_inner">
      <div class="columns_creation_frequency">
        <div>コラム作成状況</div>
        <%= line_chart Column.group_by_day(:created_at).count, height: "200px" %>
      </div>
      <div class="todos_creation_frequency">
        <div>ToDo作成状況</div>
        <%= line_chart Todo.group_by_day(:created_at).count, height: "200px" %>
      </div>
    </div>
  </div>

  <article class="likecolumn-table">
    <div class="likecolumn-table-inner">
      <h2 class="table-title">いいねの多いコラム</h2>
      <div class="table-container">
        <table class="table table-striped table-hover">
          <thead>
            <tr class="table-column">
              <th scope="col" class="val">id</th>
              <th scope="col" class="val">ユーザー名</th>
              <th scope="col" class="val">ステータス</th>
              <th scope="col" class="val">カテゴリ</th>
              <th scope="col" class="val">タイトル</th>
              <th scope="col" class="val">サムネイル画像</th>
              <th scope="col" class="val">いいね数</th>
              <th scope="col" class="val"></th>
            </tr>
          </thead>
          <tbody>
            <% @all_ranks.each do |likecolumn| %>
                <tr>
                  <th scope="row" class="val val2"><%= likecolumn.id %></th>
                  <td class="val"><%= likecolumn.admin_user.name %></td>
                  <td class="val"><%= likecolumn.status %></td>
                  <td class="val"><%= likecolumn.category.name %></td>
                  <td class="val"><%= likecolumn.title %></td>
                  <td class="val"><%= image_tag likecolumn.image.url, size: "90x60" %></td>
                  <td class="val"><i class="fa fa-heart unlike-btn"></i><%= likecolumn.likes.count  %></td>
                  <td class="val">
                    <%= link_to "詳細", admin_column_path(likecolumn), class: "kike_column_path" %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</div>