<div class="admin-users-container">
  <div class="admin-users-content">
  <h1 class="admin-users-content-h1">管理者登録</h1>
    <div class="-users-content-inner">
      <div class="users-simple-content">
        <%= form_with model: @admin_user, url: admin_users_path, local: true do |f| %>
            <div class="form-group">
              <%= f.label   "名前", class: "form_label"  %>
              <%= f.text_field :name, placeholder: "名前", class: "form-control" %>
              <%= render "partial/erros", errors: @admin_user.errors.full_messages_for(:name) %>
            </div>
            <div class="form-group">
              <%= f.label "メールアドレス", class: "form_label" %>
              <%= f.text_field :email, placeholder: "メールアドレス", class: "form-control" %>
              <%= render "partial/erros", errors: @admin_user.errors.full_messages_for(:email) %>
            </div>
            <div class="form-group">
              <%= f.label "パスワード", class: "form_label" %>
              <%= f.password_field :password, placeholder: "パスワード", class: "form-control" %>
              <%= render "partial/erros", errors: @admin_user.errors.full_messages_for(:password) %>
            </div>
            <div class="form-group">
              <%= f.label "再度パスワード", class: "form_label" %>
              <%= f.password_field :password_confirmation, placeholder: "再度パスワード", class: "form-control" %>
              <%= render "partial/erros", errors: @admin_user.errors.full_messages_for(:password_confirmation) %>
            </div>
            <div class="admin-btn-group">
              <%= f.submit "新規登録", class: "admin-submit-btn" %>
            </div>
        <% end %>
      </div>
      <hr>
      <div class="form_link">
        <%= link_to "ログインはこちら", admin_login_path, class:"link" %>
      </div>
    </div>
  </div>
</div>